MONAD_CHAIN_ID=143
MONAD_RPC_URL=https://rpc.monad.xyz
PERPL_API_URL=https://app.perpl.xyz/api
PERPL_WS_URL=wss://app.perpl.xyz
PERPL_CHAIN_ID=143
PERPL_EXCHANGE_ADDRESS=0x34B6552d57a35a1D042CcAe1951BD1C370112a6F
PERPL_COLLATERAL_TOKEN=0x00000000eFE302BEAA2b3e6e1b18d08D69a9012a
INVAIRIANT_FACTORY=0xb54B83513519Ec64e579F8F1CDdeaEF1CF4BB71b
INVAIRIANT_IMPLEMENTATION=0x0CBBaB6F3f5915EBe3054Af76ef7e5c638AADa2e
